In [1]:
import pandas as pd
import json
#use library

In [2]:
from google.colab import drive
drive.mount('/content/drive/')
#I import file.json (Transaction.json) from googleDrive

Mounted at /content/drive/

In [3]:
pd.set_option('display.max_columns', None)#to display all the fields in the table

In [4]:
df = pd.read_json("/content/drive/MyDrive/transactions.json",lines=True)
df

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,merchantCategoryCode,currentExpDate,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,isFraud,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch
0,733493772,733493772,5000,5000.00,2016-01-08T19:04:50,111.33,Lyft,US,US,05,01,rideshare,04/2020,2014-08-03,2014-08-03,492,492,9184,PURCHASE,True,,0.00,,,,False,,,False
1,733493772,733493772,5000,4888.67,2016-01-09T22:32:39,24.75,Uber,US,US,09,01,rideshare,06/2023,2014-08-03,2014-08-03,492,492,9184,PURCHASE,False,,111.33,,,,False,,,False
2,733493772,733493772,5000,4863.92,2016-01-11T13:36:55,187.40,Lyft,US,US,05,01,rideshare,12/2027,2014-08-03,2014-08-03,492,492,9184,PURCHASE,False,,136.08,,,,False,,,False
3,733493772,733493772,5000,4676.52,2016-01-11T22:47:46,227.34,Lyft,US,US,02,01,rideshare,09/2029,2014-08-03,2014-08-03,492,492,9184,PURCHASE,True,,323.48,,,,False,,,False
4,733493772,733493772,5000,4449.18,2016-01-16T01:41:11,0.00,Lyft,US,US,02,01,rideshare,10/2024,2014-08-03,2014-08-03,492,492,9184,ADDRESS_VERIFICATION,False,,550.82,,,,False,,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641909,186770399,186770399,7500,2574.02,2016-12-04T12:29:21,5.37,Apple iTunes,US,US,05,08,mobileapps,01/2030,2015-11-04,2016-06-03,127,127,5432,PURCHASE,False,,4925.98,,,,False,,,False
641910,186770399,186770399,7500,2568.65,2016-12-09T04:20:35,223.70,Blue Mountain eCards,US,US,09,01,online_gifts,05/2026,2015-11-04,2016-06-03,127,127,5432,PURCHASE,False,,4931.35,,,,False,,,False
641911,186770399,186770399,7500,2344.95,2016-12-16T07:58:23,138.42,Fresh Flowers,US,US,02,01,online_gifts,10/2019,2015-11-04,2016-06-03,127,127,5432,PURCHASE,False,,5155.05,,,,False,,,False
641912,186770399,186770399,7500,2206.53,2016-12-19T02:30:35,16.31,abc.com,US,US,09,08,online_subscriptions,11/2029,2015-11-04,2016-06-03,127,127,5432,PURCHASE,False,,5293.47,,,,False,,,False
641913,186770399,186770399,7500,2190.22,2016-12-28T11:14:14,32.53,Next Day Online Services,US,US,09,01,online_gifts,08/2025,2015-11-04,2016-06-03,127,127,5432,PURCHASE,False,,5309.78,,,,False,,,False

In [5]:
df.to_csv('project.csv')#convert json file into csv format